<h1>Introduction to Pandas</h1>

<h2> Creation of Dataframes</h2>

In [1]:
import numpy as np
import pandas as pd

#Creation of a pandas dataframe from using a list.
student_list = [['anitha',100,78,55],
               ['anika',100,80,60],
               ['pritesh',98,44,38],
               ['deepak',67,76,96]]

column_list = ['Name','science','maths','social']

print(pd.DataFrame(student_list,columns= column_list))

#creation of a pandas dataframe using a dictionary
student_dict = {'Name':['anitha','anika','pritesh','deepak'],
               'science':[100,100,98,67],
               'maths':[78,80,44,76],
               'social':[55,60,38,96]}
print("\n",pd.DataFrame(student_dict))

#Creation of a pandas dataframe from using a tuple.
student_tpl = (('anitha',100,78,55),
               ('anika',100,80,60),
               ('pritesh',98,44,38),
               ('deepak',67,76,96))

column_tpl = ('Name','science','maths','social')

print("\n",pd.DataFrame(student_tpl,columns= column_tpl))

      Name  science  maths  social
0   anitha      100     78      55
1    anika      100     80      60
2  pritesh       98     44      38
3   deepak       67     76      96

       Name  science  maths  social
0   anitha      100     78      55
1    anika      100     80      60
2  pritesh       98     44      38
3   deepak       67     76      96

       Name  science  maths  social
0   anitha      100     78      55
1    anika      100     80      60
2  pritesh       98     44      38
3   deepak       67     76      96

In [2]:
movies = pd.read_csv(r'C:\temp\dataset\movies.csv')
print(movies)

                                   title_x     imdb_id  \
0                 Uri: The Surgical Strike   tt8291224
1                            Battalion 609   tt9472208
2     The Accidental Prime Minister (film)   tt6986710
3                          Why Cheat India   tt8108208
4                          Evening Shadows   tt6028796
...                                    ...         ...
1624                 Tera Mera Saath Rahen   tt0301250
1625                  Yeh Zindagi Ka Safar   tt0298607
1626                       Sabse Bada Sukh   tt0069204
1627                                 Daaka  tt10833860
1628                              Humsafar   tt2403201

                                            poster_path  \
0     https://upload.wikimedia.org/wikipedia/en/thum...
1                                                   NaN
2     https://upload.wikimedia.org/wikipedia/en/thum...
3     https://upload.wikimedia.org/wikipedia/en/thum...
4                                                   NaN
...                                                 ...
1624  https://upload.wikimedia.org/wikipedia/en/2/2b...
1625  https://upload.wikimedia.org/wikipedia/en/thum...
1626                                                NaN
1627  https://upload.wikimedia.org/wikipedia/en/thum...
1628  https://upload.wikimedia.org/wikipedia/en/thum...

                                              wiki_link  \
0     https://en.wikipedia.org/wiki/Uri:_The_Surgica...
1           https://en.wikipedia.org/wiki/Battalion_609
2     https://en.wikipedia.org/wiki/The_Accidental_P...
3         https://en.wikipedia.org/wiki/Why_Cheat_India
4         https://en.wikipedia.org/wiki/Evening_Shadows
...                                                 ...
1624  https://en.wikipedia.org/wiki/Tera_Mera_Saath_...
1625  https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...
1626      https://en.wikipedia.org/wiki/Sabse_Bada_Sukh
1627                https://en.wikipedia.org/wiki/Daaka
1628             https://en.wikipedia.org/wiki/Humsafar

                            title_y                 original_title  is_adult  \
0          Uri: The Surgical Strike       Uri: The Surgical Strike         0
1                     Battalion 609                  Battalion 609         0
2     The Accidental Prime Minister  The Accidental Prime Minister         0
3                   Why Cheat India                Why Cheat India         0
4                   Evening Shadows                Evening Shadows         0
...                             ...                            ...       ...
1624          Tera Mera Saath Rahen          Tera Mera Saath Rahen         0
1625           Yeh Zindagi Ka Safar           Yeh Zindagi Ka Safar         0
1626                Sabse Bada Sukh                Sabse Bada Sukh         0
1627                          Daaka                          Daaka         0
1628                       Humsafar                       Humsafar         0

      year_of_release runtime            genres  imdb_rating  imdb_votes  \
0                2019     138  Action|Drama|War          8.4       35112
1                2019     131               War          4.1          73
2                2019     112   Biography|Drama          6.1        5549
3                2019     121       Crime|Drama          6.0        1891
4                2018     102             Drama          7.3         280
...               ...     ...               ...          ...         ...
1624             2001     148             Drama          4.9         278
1625             2001     146             Drama          3.0         133
1626             2018      \N      Comedy|Drama          6.1          13
1627             2019     136            Action          7.4          38
1628             2011      35     Drama|Romance          9.0        2968

                                                  story  \
0     Divided over five chapters  the film chronicle...
1     The story revolves around a cricket match betw...
2     Based on the memoir by Indian policy analyst S...
3     The movie focuses on existing malpractices in ...
4     While gay rights and marriage equality has bee...
...                                                 ...
1624  Raj Dixit lives with his younger brother  Rahu...
1625  Hindi pop-star  Sarina Devan  lives a wealthy ...
1626  Village born Lalloo re-locates to Bombay  and ...
1627  Shinda tries robbing a bank so he can be wealt...
1628  Sara and Ashar are childhood friends who share...

                                                summary tagline  \
0     Indian army special forces execute a covert op...     NaN
1     The story of Battalion 609 revolves around a c...     NaN
2     Explores Manmohan Singh's tenure as the Prime ...     NaN
3     The movie focuses on existing malpractices in ...     NaN
4     Under the 'Evening Shadows'  truth often plays...     NaN
...                                                 ...     ...
1624  A man is torn between his handicapped brother ...     NaN
1625  A singer finds out she was adopted when the ed...     NaN
1626  Village born Lalloo re-locates to Bombay  and ...     NaN
1627  Shinda tries robbing a bank so he can be wealt...     NaN
1628  Ashar and Khirad are forced to get married due...     NaN

                                                 actors  \
0     Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...
1     Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...
2     Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...
3     Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...
4     Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...
...                                                 ...
1624  Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...
1625  Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...
1626  Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...
1627                          Gippy Grewal|Zareen Khan|
1628                                        Fawad Khan|

            wins_nominations              release_date
0                     4 wins     11 January 2019 (USA)
1                        NaN   11 January 2019 (India)
2                        NaN     11 January 2019 (USA)
3                        NaN     18 January 2019 (USA)
4     17 wins & 1 nomination   11 January 2019 (India)
...                      ...                       ...
1624                     NaN   7 November 2001 (India)
1625                     NaN  16 November 2001 (India)
1626                     NaN                       NaN
1627                     NaN     1 November 2019 (USA)
1628                     NaN     TV Series (2011–2012)

[1629 rows x 18 columns]

In [3]:
#to display the index of the dataframe
movies.index

RangeIndex(start=0, stop=1629, step=1)

In [4]:
#to display the list of the columns of the dataframe
movies.columns

Index(['title_x', 'imdb_id', 'poster_path', 'wiki_link', 'title_y',
       'original_title', 'is_adult', 'year_of_release', 'runtime', 'genres',
       'imdb_rating', 'imdb_votes', 'story', 'summary', 'tagline', 'actors',
       'wins_nominations', 'release_date'],
      dtype='object')

In [5]:
#to display the list of the values in a 2d matrix.
movies.values

array([['Uri: The Surgical Strike', 'tt8291224',
        'https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/URI_-_New_poster.jpg/220px-URI_-_New_poster.jpg',
        ...,
        'Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Gautam|Kirti Kulhari|Rajit Kapoor|Ivan Rodrigues|Manasi Parekh|Swaroop Sampat|Riva Arora|Yogesh Soman|Fareed Ahmed|Akashdeep Arora|Kallol Banerjee|',
        '4 wins', '11 January 2019 (USA)'],
       ['Battalion 609', 'tt9472208', nan, ...,
        'Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elena Kazan|Vishwas Kini|Major Kishore|Jashn Kohli|Rammy C. Pandey|Manish Sharma|Sparsh Sharma|Farnaz Shetty|Vikas Shrivastav|Chandraprakash Thakur|Brajesh Tiwari|',
        nan, '11 January 2019 (India)'],
       ['The Accidental Prime Minister (film)', 'tt6986710',
        'https://upload.wikimedia.org/wikipedia/en/thumb/a/a1/The_Accidental_Prime_Minister_film.jpg/220px-The_Accidental_Prime_Minister_film.jpg',
        ...,
        'Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul Sharma|Manoj Anand|Arjun Mathur|Suzanne Bernert|Abdul Quadir Amin|Bharat Mistri|Divya Seth|Anil Rastogi|Ramesh Bhatkar|Parrgash Kaur|Jess Kaur|',
        nan, '11 January 2019 (USA)'],
       ...,
       ['Sabse Bada Sukh', 'tt0069204', nan, ...,
        'Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpal Dutt|Meeta Faiyyaz|Rabi Ghosh|Tarun Ghosh|Sanjeev Kumar|Keshto Mukherjee|Meena Rai|',
        nan, nan],
       ['Daaka', 'tt10833860',
        'https://upload.wikimedia.org/wikipedia/en/thumb/4/45/Daaka.jpg/220px-Daaka.jpg',
        ..., 'Gippy Grewal|Zareen Khan|', nan, '1 November 2019 (USA)'],
       ['Humsafar', 'tt2403201',
        'https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png',
        ..., 'Fawad Khan|', nan, 'TV Series (2011–2012)']], dtype=object)

In [6]:
#shape of the dataframe 
movies.shape
#(1629, 18) means that the movies dataset has 1629 rows and 18 columns

(1629, 18)

In [7]:
#ndim provides the number of dimensions 
movies.ndim
#output : 2 means that it has two dimensions.

2

In [8]:
#dtypes displays the data types of the columns. 
movies.dtypes

title_x              object
imdb_id              object
poster_path          object
wiki_link            object
title_y              object
original_title       object
is_adult              int64
year_of_release       int64
runtime              object
genres               object
imdb_rating         float64
imdb_votes            int64
story                object
summary              object
tagline              object
actors               object
wins_nominations     object
release_date         object
dtype: object

In [9]:
#head method returns the rows from the top
movies.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [10]:
#tail shows the records from the bottom. 
movies.tail()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
1624,Tera Mera Saath Rahen,tt0301250,https://upload.wikimedia.org/wikipedia/en/2/2b...,https://en.wikipedia.org/wiki/Tera_Mera_Saath_...,Tera Mera Saath Rahen,Tera Mera Saath Rahen,0,2001,148,Drama,4.9,278,Raj Dixit lives with his younger brother Rahu...,A man is torn between his handicapped brother ...,NaN,Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...,NaN,7 November 2001 (India)
1625,Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India)
1626,Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN
1627,Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA)
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011–2012)

In [11]:
#sample returns a record at a random
movies.sample()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
161,Judwaa 2,tt5456546,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Judwaa_2,Twins 2,Judwaa 2,0,2017,145,Action|Comedy,3.8,7418,Two brothers (twins) born to an honest busines...,Prem and Raja are twin brothers who are sepera...,NaN,Varun Dhawan|Jacqueline Fernandez|Taapsee Pann...,6 nominations,29 September 2017 (USA)

In [12]:
#info method provides the number of not null values in each of the column.summary of all the datatypes in the dataset
#memory occupied by the dataset. 
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           1629 non-null   object
 1   imdb_id           1629 non-null   object
 2   poster_path       1526 non-null   object
 3   wiki_link         1629 non-null   object
 4   title_y           1629 non-null   object
 5   original_title    1629 non-null   object
 6   is_adult          1629 non-null   int64
 7   year_of_release   1629 non-null   int64
 8   runtime           1629 non-null   object
 9   genres            1629 non-null   object
 10  imdb_rating       1629 non-null   float64
 11  imdb_votes        1629 non-null   int64
 12  story             1609 non-null   object
 13  summary           1629 non-null   object
 14  tagline           557 non-null    object
 15  actors            1624 non-null   object
 16  wins_nominations  707 non-null    object
 17  release_date      1522 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 229.2+ KB

In [13]:
#describe method provides the total count, mean, standard deviation, minimum, 25%, median(50%), 75% and maximum value of the 
#dataset. This provides the above data for numerical columns only. 
movies.describe()

       is_adult  year_of_release  imdb_rating     imdb_votes
count    1629.0      1629.000000  1629.000000    1629.000000
mean        0.0      2010.263966     5.557459    5384.263352
std         0.0         5.381542     1.567609   14552.103231
min         0.0      2001.000000     0.000000       0.000000
25%         0.0      2005.000000     4.400000     233.000000
50%         0.0      2011.000000     5.600000    1000.000000
75%         0.0      2015.000000     6.800000    4287.000000
max         0.0      2019.000000     9.400000  310481.000000

In [14]:
#isnull() method is used to display the boolean matrix of the dataset. if we use sum() method on top of this, it will show the 
#no of null values in each of the column. 
movies.isnull().sum()

title_x                0
imdb_id                0
poster_path          103
wiki_link              0
title_y                0
original_title         0
is_adult               0
year_of_release        0
runtime                0
genres                 0
imdb_rating            0
imdb_votes             0
story                 20
summary                0
tagline             1072
actors                 5
wins_nominations     922
release_date         107
dtype: int64

In [15]:
#duplicated() will return True, if there are any duplicate rows. if we apply the sum() over the duplicated, it will provide
#the duplicate values. 
movies.duplicated().sum()

0

In [16]:
student_df = pd.DataFrame(student_dict)
print(student_df)
student_df.sum()

      Name  science  maths  social
0   anitha      100     78      55
1    anika      100     80      60
2  pritesh       98     44      38
3   deepak       67     76      96

Name       anithaanikapriteshdeepak
science                         365
maths                           278
social                          249
dtype: object

In [17]:
#axis =1 means the sum of the row. It displays the marks obtained by a student
print(student_df.sum(axis=1))

0    233
1    240
2    180
3    239
dtype: int64

C:\Users\i527992\AppData\Local\Temp\ipykernel_33516\151396045.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(student_df.sum(axis=1))

In [18]:
student_df.rename(columns={'science':'science_marks','maths':'maths_marks','social':'social_marks'},inplace=True)

In [19]:
student_df

      Name  science_marks  maths_marks  social_marks
0   anitha            100           78            55
1    anika            100           80            60
2  pritesh             98           44            38
3   deepak             67           76            96

In [20]:
#calling a single column of the dataframe
student_df['Name']

0     anitha
1      anika
2    pritesh
3     deepak
Name: Name, dtype: object

In [21]:
#displaying multiple columns
student_df[['Name','science_marks']]

      Name  science_marks
0   anitha            100
1    anika            100
2  pritesh             98
3   deepak             67

In [23]:
student_df_index = student_df.copy()
student_df_index.set_index('Name',inplace=True)
student_df_index

         science_marks  maths_marks  social_marks
Name
anitha             100           78            55
anika              100           80            60
pritesh             98           44            38
deepak              67           76            96

In [34]:
#.loc and .iloc methods are used for selecting the rows. 

#Single row selection using loc and iloc methods
#using loc method on default indexes. if we are using the customized indexes, then we can use the customized index only in this 
#case. 
print('using loc[0] on student_df\n',student_df.loc[0])
print('\n using iloc[0] on student_df_index\n',student_df_index.loc['anitha'])

using loc[0] on student_df
 Name             anitha
science_marks       100
maths_marks          78
social_marks         55
Name: 0, dtype: object

 using iloc[0] on student_df_index
 science_marks    100
maths_marks       78
social_marks      55
Name: anitha, dtype: int64

In [33]:
#using iloc. iloc can be used, whether the default indexing is being used or the customized indexing is used. 
print('using iloc[0] on student_df\n',student_df.iloc[0])
print('\n using iloc[0] on student_df_index\n',student_df_index.iloc[0])

using loc[0] on student_df
 Name             anitha
science_marks       100
maths_marks          78
social_marks         55
Name: 0, dtype: object

 using iloc[0] on student_df_index
 science_marks    100
maths_marks       78
social_marks      55
Name: anitha, dtype: int64

In [35]:
#selecting the multiple rows from the dataframe. 
print('\nstudent_df :\n',student_df)
print('\nstudent_df_index :\n',student_df_index)

student_df :
       Name  science_marks  maths_marks  social_marks
0   anitha            100           78            55
1    anika            100           80            60
2  pritesh             98           44            38
3   deepak             67           76            96

student_df_index :
          science_marks  maths_marks  social_marks
Name
anitha             100           78            55
anika              100           80            60
pritesh             98           44            38
deepak              67           76            96

In [48]:
#display the records of anitha, anika using loc
print('\nstudent_df :\n',student_df.loc[0:1])
print('\nstudent_df_index :\n',student_df_index.loc['anitha':'anika'])

student_df :
      Name  science_marks  maths_marks  social_marks
0  anitha            100           78            55
1   anika            100           80            60

student_df_index :
         science_marks  maths_marks  social_marks
Name
anitha            100           78            55
anika             100           80            60

In [50]:
#display of the records of anitha and ankia using iloc methods
print('\n student_df :\n',student_df.iloc[0:2])
print('\n student_df_index:\n',student_df_index.iloc[0:2])

 student_df :
      Name  science_marks  maths_marks  social_marks
0  anitha            100           78            55
1   anika            100           80            60

 student_df_index:
         science_marks  maths_marks  social_marks
Name
anitha            100           78            55
anika             100           80            60

In [65]:
#display of science marks, maths marks of anika and pritesh using loc method.
print('\n student_df :\n',student_df[['Name','science_marks','maths_marks']].loc[1:2])
print('\n student_df_index :\n',student_df_index[['science_marks','maths_marks']].loc['anika':'pritesh'])

 student_df :
       Name  science_marks  maths_marks
1    anika            100           80
2  pritesh             98           44

 student_df :
          science_marks  maths_marks
Name
anika              100           80
pritesh             98           44

In [68]:
#display of science marks, maths marks of anika and pritesh using iloc method.
print('\n student_df :\n',student_df[['Name','science_marks','maths_marks']].iloc[1:3])
print('\n student_df_index :\n',student_df_index[['science_marks','maths_marks']].iloc[1:3])

 student_df :
       Name  science_marks  maths_marks
1    anika            100           80
2  pritesh             98           44

 student_df_index :
          science_marks  maths_marks
Name
anika              100           80
pritesh             98           44